Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
AccessModifierOffset: -4
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
BraceWrapping:
  BeforeCatch: true
  BeforeElse: true

AlwaysBreakAfterReturnType: AllDefinitions
PenaltyReturnTypeOnItsOwnLine: 1000000
