[submodule "engine/3rdparty/plog"]
	path = engine/3rdparty/git_submodules/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "engine/3rdparty/glm"]
	path = engine/3rdparty/git_submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/3rdparty/git_submodules/glfw"]
	path = engine/3rdparty/git_submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/3rdparty/git_submodules/socket.io-client-cpp"]
	path = engine/3rdparty/git_submodules/socket.io-client-cpp
	url = https://github.com/socketio/socket.io-client-cpp.git
[submodule "engine/3rdparty/git_submodules/assimp"]
	path = engine/3rdparty/git_submodules/assimp
	url = https://github.com/assimp/assimp.git
