[submodule "engine/3rdparty/plog"]
	path = engine/3rdparty/git_submodules/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "engine/3rdparty/glm"]
	path = engine/3rdparty/git_submodules/glm
	url = https://github.com/g-truc/glm.git
[submodule "engine/3rdparty/git_submodules/glfw"]
	path = engine/3rdparty/git_submodules/glfw
	url = https://github.com/glfw/glfw.git
[submodule "engine/3rdparty/git_submodules/assimp"]
	path = engine/3rdparty/git_submodules/assimp
	url = https://github.com/assimp/assimp.git
[submodule "engine/3rdparty/git_submodules/tracy"]
	path = engine/3rdparty/git_submodules/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "engine/3rdparty/git_submodules_forks/jle_bullet3"]
	path = engine/3rdparty/git_submodules_forks/jle_bullet3
	url = https://github.com/Mormert/jle_bullet3.git
[submodule "engine/3rdparty/git_submodules_forks/jle_RmlUi"]
	path = engine/3rdparty/git_submodules_forks/jle_RmlUi
	url = https://github.com/Mormert/jle_RmlUi.git
[submodule "engine/3rdparty/git_submodules_forks/jle_EASTL"]
	path = engine/3rdparty/git_submodules_forks/jle_EASTL
	url = https://github.com/Mormert/jle_EASTL.git
[submodule "engine/3rdparty/git_submodules/libzip"]
	path = engine/3rdparty/git_submodules/libzip
	url = https://github.com/nih-at/libzip.git
[submodule "engine/3rdparty/git_submodules/libzippp"]
	path = engine/3rdparty/git_submodules/libzippp
	url = https://github.com/ctabin/libzippp.git
[submodule "engine/3rdparty/git_submodules/lz4"]
	path = engine/3rdparty/git_submodules/lz4
	url = https://github.com/lz4/lz4.git
[submodule "engine/3rdparty/git_submodules/enet"]
	path = engine/3rdparty/git_submodules/enet
	url = https://github.com/zpl-c/enet.git
[submodule "engine/3rdparty/git_submodules/librg"]
	path = engine/3rdparty/git_submodules/librg
	url = https://github.com/zpl-c/librg.git
