{
    "__obj_name": "oFireball",
    "_childObjects": [],
    "_custom_components": [
        {
            "_comp_name": "cTransform",
            "depth": 0.0,
            "x": 0.0,
            "y": 89.0
        },
        {
            "_comp_name": "cAseprite",
            "animating": true,
            "height": 64,
            "mAsepritePaths_STRVEC": [
                {
                    "mString": "GR:gfx/conceptart/Vfx/fireball-sheet.json"
                }
            ],
            "offsetX": -30,
            "offsetY": -32,
            "textureX": 0,
            "textureY": 0,
            "width": 64
        }
    ],
    "_instance_name": "FireballTempl",
    "mMovingTowardsQ": 21,
    "mMovingTowardsR": 35
}