{
    "__obj_name": "oCharacterHealthBar",
    "_childObjects": [
        {
            "__obj_name": "jleObject",
            "_childObjects": [],
            "_custom_components": [
                {
                    "_comp_name": "cAseprite",
                    "animating": false,
                    "height": 3,
                    "mAsepritePaths_STRVEC": [
                        {
                            "mString": "GR:hp.json"
                        }
                    ],
                    "offsetX": -8,
                    "offsetY": 0,
                    "textureX": 0,
                    "textureY": 0,
                    "width": 16
                },
                {
                    "_comp_name": "cTransform",
                    "depth": 0.0,
                    "x": 8.0,
                    "y": -1.0
                }
            ],
            "_instance_name": "BackgroundBorderHpBar"
        }
    ],
    "_custom_components": [
        {
            "_comp_name": "cTransform",
            "depth": 0.0,
            "x": -8.0,
            "y": -30.0
        },
        {
            "_comp_name": "cAseprite",
            "animating": false,
            "height": 1,
            "mAsepritePaths_STRVEC": [
                {
                    "mString": "GR:hp.json"
                }
            ],
            "offsetX": 0,
            "offsetY": 0,
            "textureX": 0,
            "textureY": 4,
            "width": 8
        }
    ],
    "_instance_name": "oCharacterHealthBar",
    "mMaxWidth": 16
}