{
    "__obj_name": "oMonster",
    "_childObjects": [
        {
            "_instance_name": "oCharacterHealthBar",
            "_otemp": "GR:otemps/oCharacterHealthBar.tmpl"
        }
    ],
    "_custom_components": [
        {
            "_comp_name": "cTransform",
            "depth": 0.0,
            "x": 497.0,
            "y": 171.0
        },
        {
            "_comp_name": "cAseprite",
            "animating": true,
            "height": 86,
            "mAsepritePaths_STRVEC": [
                {
                    "mString": "GR:/gfx/conceptart/Monster/raptor.json"
                }
            ],
            "offsetX": -48,
            "offsetY": -48,
            "textureX": 429,
            "textureY": 0,
            "width": 86
        }
    ],
    "_instance_name": "oCharacter_Raptor",
    "mAttackCooldownAfterAnimationMs": 0.0,
    "mEastTextureX": 0,
    "mEastTextureY": 0,
    "mHealthBarObjectTemplatePath": "",
    "mHexagonItem": {
        "mHexagonQ": 35,
        "mHexagonR": 19
    },
    "mInterpBetweenHexasSpeed": 1.0,
    "mMaxHP": 0,
    "mNorthTextureX": 64,
    "mNorthTextureY": 0,
    "mNortheastTextureX": 86,
    "mNortheastTextureY": 0,
    "mNorthwestTextureX": 172,
    "mNorthwestTextureY": 0,
    "mShowHpBar": true,
    "mSouthTextureX": 192,
    "mSouthTextureY": 0,
    "mSoutheastTextureX": 258,
    "mSoutheastTextureY": 0,
    "mSouthwestTextureX": 344,
    "mSouthwestTextureY": 0,
    "mWestTextureX": 429,
    "mWestTextureY": 0
}