{
    "__obj_name": "oCharacter",
    "_childObjects": [
        {
            "_instance_name": "oCharacterHealthBar",
            "_otemp": "GR:otemps/oCharacterHealthBar.tmpl"
        }
    ],
    "_custom_components": [
        {
            "_comp_name": "cTransform",
            "depth": 0.0,
            "x": 749.0,
            "y": -297.0
        },
        {
            "_comp_name": "cAseprite",
            "animating": true,
            "height": 48,
            "mAsepritePaths_STRVEC": [
                {
                    "mString": "GR:gfx/conceptart/3DCharacter/spritesheet.json"
                },
                {
                    "mString": "GR:gfx/conceptart/3DCharacter/spritesheet_attack.json"
                },
                {
                    "mString": "GR:gfx/conceptart/3DCharacter/walk/walk.json"
                }
            ],
            "offsetX": -32,
            "offsetY": -40,
            "textureX": 288,
            "textureY": 0,
            "width": 48
        }
    ],
    "_instance_name": "otherPlayer",
    "mAttackCooldownAfterAnimationMs": 250.0,
    "mEastTextureX": 288,
    "mEastTextureY": 0,
    "mHealthBarObjectTemplatePath": "GR:otemps/oCharacterHealthBar.tmpl",
    "mHexagonItem": {
        "mHexagonQ": 53,
        "mHexagonR": -33
    },
    "mInterpBetweenHexasSpeed": 4.0,
    "mMaxHP": 50,
    "mNorthTextureX": 64,
    "mNorthTextureY": 0,
    "mNortheastTextureX": 144,
    "mNortheastTextureY": 0,
    "mNorthwestTextureX": 48,
    "mNorthwestTextureY": 0,
    "mShowHpBar": true,
    "mSouthTextureX": 192,
    "mSouthTextureY": 0,
    "mSoutheastTextureX": 192,
    "mSoutheastTextureY": 0,
    "mSouthwestTextureX": 240,
    "mSouthwestTextureY": 0,
    "mWestTextureX": 336,
    "mWestTextureY": 0
}