{
    "__obj_name": "jleObject",
    "_childObjects": [
        {
            "__obj_name": "jleObject",
            "_childObjects": [],
            "_custom_components": [
                {
                    "_comp_name": "cUITransformUpdater",
                    "mBottom": true,
                    "mLeft": false,
                    "mRight": false,
                    "mTop": false,
                    "mX": 0,
                    "mY": 0
                },
                {
                    "_comp_name": "cTransform",
                    "depth": 0.0,
                    "x": 0.0,
                    "y": 208.0
                },
                {
                    "_comp_name": "cAseprite",
                    "animating": false,
                    "height": 34,
                    "mAsepritePaths_STRVEC": [
                        {
                            "mString": "GR:gfx/ui/ui.json"
                        }
                    ],
                    "offsetX": -91,
                    "offsetY": -34,
                    "textureX": 1,
                    "textureY": 1,
                    "width": 182
                }
            ],
            "_instance_name": "Abilities"
        },
        {
            "__obj_name": "jleObject",
            "_childObjects": [],
            "_custom_components": [
                {
                    "_comp_name": "cUITransformUpdater",
                    "mBottom": true,
                    "mLeft": false,
                    "mRight": true,
                    "mTop": false,
                    "mX": 0,
                    "mY": 0
                },
                {
                    "_comp_name": "cTransform",
                    "depth": 0.0,
                    "x": 240.0,
                    "y": 208.0
                },
                {
                    "_comp_name": "cAseprite",
                    "animating": false,
                    "height": 44,
                    "mAsepritePaths_STRVEC": [
                        {
                            "mString": "GR:gfx/ui/ui.json"
                        }
                    ],
                    "offsetX": -24,
                    "offsetY": -45,
                    "textureX": 232,
                    "textureY": 1,
                    "width": 23
                }
            ],
            "_instance_name": "MenuButtons"
        },
        {
            "__obj_name": "jleObject",
            "_childObjects": [],
            "_custom_components": [
                {
                    "_comp_name": "cAseprite",
                    "animating": false,
                    "height": 9,
                    "mAsepritePaths_STRVEC": [
                        {
                            "mString": "GR:gfx/ui/ui.json"
                        }
                    ],
                    "offsetX": 0,
                    "offsetY": 0,
                    "textureX": 195,
                    "textureY": 2,
                    "width": 9
                },
                {
                    "_comp_name": "cTransform",
                    "depth": 0.0,
                    "x": -239.0,
                    "y": 198.0
                },
                {
                    "_comp_name": "cUITransformUpdater",
                    "mBottom": true,
                    "mLeft": true,
                    "mRight": false,
                    "mTop": false,
                    "mX": 1,
                    "mY": -10
                }
            ],
            "_instance_name": "PingIcon"
        },
        {
            "__obj_name": "jleObject",
            "_childObjects": [],
            "_custom_components": [
                {
                    "_comp_name": "cUITransformUpdater",
                    "mBottom": false,
                    "mLeft": true,
                    "mRight": false,
                    "mTop": true,
                    "mX": 1,
                    "mY": 1
                },
                {
                    "_comp_name": "cTransform",
                    "depth": 0.0,
                    "x": -239.0,
                    "y": -119.0
                },
                {
                    "_comp_name": "cAseprite",
                    "animating": false,
                    "height": 16,
                    "mAsepritePaths_STRVEC": [
                        {
                            "mString": "GR:gfx/ui/ui.json"
                        }
                    ],
                    "offsetX": 0,
                    "offsetY": 0,
                    "textureX": 1,
                    "textureY": 44,
                    "width": 34
                }
            ],
            "_instance_name": "PlayerList"
        },
        {
            "__obj_name": "jleObject",
            "_childObjects": [],
            "_custom_components": [
                {
                    "_comp_name": "cAseprite",
                    "animating": false,
                    "height": 53,
                    "mAsepritePaths_STRVEC": [
                        {
                            "mString": "GR:gfx/ui/ui.json"
                        }
                    ],
                    "offsetX": -37,
                    "offsetY": 0,
                    "textureX": 37,
                    "textureY": 37,
                    "width": 53
                },
                {
                    "_comp_name": "cTransform",
                    "depth": 0.0,
                    "x": 220.0,
                    "y": -115.0
                },
                {
                    "_comp_name": "cUITransformUpdater",
                    "mBottom": false,
                    "mLeft": false,
                    "mRight": true,
                    "mTop": true,
                    "mX": -20,
                    "mY": 5
                }
            ],
            "_instance_name": "MiniMap"
        }
    ],
    "_custom_components": [],
    "_instance_name": "UserInterface"
}